#fondo_cerebro{
	background-image: url("images/cerebro1.jpg");
	background-repeat: no-repeat;
	width: 1000px;
	height: 700px;
	margin-left: 130px;	
  margin-top:-50px;
}
h3{
  font-size: 45px;
  color:blue;
  text-align: center;
  margin-left: 80px;
}
#boton_inicio{
	width: 300px;
  height: 75px;
  margin-left: 390px;
}
table{
	margin-left: 350px;
  text-align: center;
}

#flip-container{
  -webkit-perspective: 1000px;
  perspective: 1000px;
  padding: 5px;
  position: relative;
  margin: 1px;
  width: 50px;
}
.card {
  position: relative;
  width: 80px;
  height: 80px;
  transition: 0.6s;
  transform-style: preserve-3d;
  transform-origin: 100% 25px;
  margin: 3px;
}
.card:hover, .card.flip{
  transform: rotateY(180deg);
}
.front, .back{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
}
.front{
  transform: rotateY(0deg);
  z-index: 2;
  background-image: url("images/fondo.jpeg");
  color: #FFF;
  font: 1em/1.8em Arial;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back{
  transform: rotateY(180deg);
  background: repeating-linear-gradient(
    -45deg,
    #ececec,
    #ececec 10px,
    #dedede 10px,
    #dedede 20px
  );
}